/* hmenu.css */
.hmenu.pure-menu.pure-menu-open,
.hmenu.pure-menu.pure-menu-horizontal li .pure-menu-children {
	background-color: #1b1e1f;
}
.hmenu.pure-menu .pure-menu-open,
.hmenu.pure-menu li a:hover,
.hmenu.pure-menu li a:hover:focus {
	background: #1b1e1f;
	color: #fff !important;
}
.hmenu.pure-menu ul ul li a:hover,
.hmenu.pure-menu ul ul li a:hover:focus {
	background-color: #272c2f
}

.hmenu.pure-menu li a:hover,
.hmenu.pure-menu li a:hover:focus {
}
.hmenu.pure-menu.pure-menu-horizontal li .pure-menu-children {
	border: solid 1px #1b1e1f;
}
.hmenu.pure-menu {
	font-size: 15px;
}
.hmenu.pure-menu li a {
	padding: 5px 40px 5px 2px;
}
.hmenu.pure-menu ul ul li a {
	padding: 5px 20px;
}

.pure-menu-can-have-children>.pure-menu-label:after {
	display: none;
}