.mod-sitemap .vmenuaccord .yui3-accordion-item {
    margin-bottom: 3px;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item .yui3-widget-hd {
	background-color: #FFF;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item .yui3-widget-hd:hover {
	background-color: #FFD470;
	border-color: #FFD470;
}
.mod-sitemap .vmenuaccord .yui3-menu-content, 
.mod-sitemap .vmenuaccord .yui3-menu .yui3-menu .yui3-menu-content {
    border: 1px solid #d7d7d7;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item-label {
    text-decoration: none;
    background: transparent;
    overflow: hidden;
    color: #525252;
}
.mod-sitemap .vmenuaccord .yui3-accordion-item-label:hover{
    text-decoration: underline;
}