.selected {background-color: #ccc}

.fm_window	{
	/* overflow: hidden;/**/
	width: 752px;
	height: 460px;
	background-color: #ECE9D8;
	border: 1px solid #A9A9A9
}
.fm_window div	{
	width: 100%; overflow: hidden;
}
.window_title	{
	width: 100%;
	overflow: hidden;
	background: #000 url(title_bg.gif) repeat-x
}
.window_title img	{
	float: right;
	margin: 4px;
	border: 0px
}
.bk-fm-panel	{
}

div#bk-fm-folders	{
	display: block;
	width: 180px;
	height: 250px;
	overflow: auto;
	border: 1px solid #999;
	background-color: #fff;
	float: left;
	margin: 4px 0px 4px 4px
}

div#panel		{
	width: 100%;
	overflow: hidden;
	background-color: #ccc;
	padding: 4px 0px
}
div#panel	 p	{
	float: left;
	color: #fff;
	font-family: Verdana; 
	padding: 0px 0px 0px 4px;
	font-size: 9pt
}
div#panel	 input	{
width: 260px ! important
}
div#panel	 span	{
position: relative;
top: -2px;
left: 0px
}
div#panel	 a	{
text-align: right;
font-size: 8pt;
font-family: verdana;
padding: 0px 4px 0px 0px;
color: #000;
text-decoration: none;
}
div#panel	 img	{
margin-bottom: 2px ! important;
border: 0px;
margin: 0px 4px 0px 4px;
vertical-align: middle
}
.disabled	{
opacity: 0.25;  filter: alpha(opacity=25); zoom: 1;
}
img#go	{
margin-bottom: -2px ! important;
border: 0px;
margin-right: 10px
}
/*
ul#treemenu1	{
padding:0px 0px 0px 4px;
margin:8px 0px;
overflow-x: auto;
}/**/
div#bk-fm-files	{
overflow: hidden ! important;
width: 554px;
height: 250px ! important;
overflow: auto;
border: 1px solid #999;
background-color: #fff;
float: right;
margin: 4px;
font-family: verdana;
font-size: 11px !impotant
}
div#bk-fm-files div	{
overflow: auto;
height: 100%;
width: 100%;
 }
div#bk-fm-files table	{
height: 0%;
width: 100%;
}
.fm_files_cm	{
width: 16px;
font-weight: normal;
background-color:#D7D7D7 !important;
height:18px !important;
}
.fm_files_size{
padding: 1px 2px 1px 5px;
font-weight: normal;
background-color:#D7D7D7 !important;
height:18px !important;
text-align: center;
}
.fm_files_name{
padding: 1px 2px 1px 5px;
width: 45%;
font-weight: normal;
background-color:#D7D7D7 !important;
height:18px !important;
text-align: center;
}
.file_name	{
}
.left	{
text-align: left;
}
.right	{
text-align: right;
}
.pbtm	{
padding-right: 5px;
}
div#fm_preview	{
border: 1px solid #A9A9A9;
margin: 3px 8px 3px 4px;
height: 127px;
width: 180px;
float: left
}
div#fm_preview p	{
text-align:center;
padding: 0px;
margin: 4px;
}
div#fm_preview img	{
width: 120px;
height: 100px;
}
div#fm_preview p.size	{
padding: 0px;
margin: 0px;
text-align: center;
font-size: 8pt;
font-family: verdana
}
div#fm_openfile	{
float: right;
width:548px;
border: 0px solid #999;
margin: 4px;
}
div#fm_openfile td.filename	{
font-size: 9pt;
font-family: verdana;
margin-bottom: 6px
}
.w19		{
width: 19%
}

.w65		{
width: 65%
}
.w16		{
width: 16%
}
input#filename	{
width: 100% ! important;
margin-bottom: 4px ! important;
margin-top: 2px
}
input#openfile	{
width: 100px ! important;
margin-left: 6px;
margin-bottom: 2px
}
input#cancel	{
width: 100px ! important;
margin-left: 6px;
margin-bottom: 2px
}
div#fm_openfile table	{
width:100%;
border: 0px;
border-collapse: collapse;
}
div#fm_openfile table td	{
padding: 0px
}
