#doc {
	color: #575757;
}
a, a:visited {
	color: #295f9f;
}

#doc .gwrap {
	width: 970px;
	margin: 0 auto;
}

#doc #hd {
	background-color: #1b1e1f;
}
#doc #hd .gwrap {
	position: relative;
}

#doc #hd a {
    color: #bebebe;
}
#doc #hd .tline {
	background-color: #23282b;
	border-bottom: 1px solid #2f3538;
}
#doc #hd .site-name {
	padding: 7px 0 10px;
	margin: 0;
	font-size: 25px;
	font-weight: normal;
}
#doc #hd .site-name a {
	color: #FFFFFF;
	text-decoration: none;	
}
#doc #hd .site-desc {
	padding-top: 15px;
	color: #858585;
}

#doc #hd #userauthblock {
	position: absolute;
	top: 13px;
	right: 0;
}

#userblock .autuser #appbosuilist {
	z-index: 1000;
}
#userblock .autuser #appbosuilist a {
	/* color: #295f9f;/**/
}


/* * * * * * * * * * * * * * * * * * * * */
/*            Page Content               */
/* * * * * * * * * * * * * * * * * * * * */
#doc #bd .content h1 {font-size:138.5%}
#doc #bd .content h2 { font-size:123.1%}
#doc #bd .content h3 {font-size:108%}
#doc #bd .content h1,
#doc #bd .content h2,
#doc #bd .content h3 {margin:1em 0}
#doc #bd .content h1,
#doc #bd .content h2,
#doc #bd .content h3,
#doc #bd .content h4,
#doc #bd .content h5,
#doc #bd .content h6,
#doc #bd .content strong {font-weight:bold}
#doc #bd .content abbr,
#doc #bd .content acronym{border-bottom:1px dotted #000;cursor:help}
#doc #bd .content em{font-style:italic}
#doc #bd .content blockquote,
#doc #bd .content ul,
#doc #bd .content ol,
#doc #bd .content dl {margin:1em}
#doc #bd .content ol,
#doc #bd .content ul,
#doc #bd .content dl{margin-left:2em}
#doc #bd .content ol{list-style:decimal outside}
#doc #bd .content ul{list-style:disc outside}
#doc #bd .content dl dd{margin-left:1em}
#doc #bd .content th,
#doc #bd .content td{border:1px solid #000;padding:.5em}
#doc #bd .content th{font-weight:bold;text-align:center}
#doc #bd .content caption{margin-bottom:.5em;text-align:center}
#doc #bd .content p,
#doc #bd .content fieldset,
#doc #bd .content table,
#doc #bd .content pre{margin-bottom:1em}
#doc #bd .content input[type=text],
#doc #bd .content input[type=password],
#doc #bd .content textarea{width:12.25em;*width:11.9em}
#yui3-css-stamp.cssbase{display:none}

#doc #bd {
	padding: 25px 0;
	background-color: #F2F2F2;
	border-bottom: 1px solid #d7d7d7;
}
#doc #bd .content {
	border: 1px solid #d7d7d7;
	background-color: #fff;
	padding: 20px 30px;
}

/* * * * * * * * * * * * * * * * * * * * */
/*               SideBar                 */
/* * * * * * * * * * * * * * * * * * * * */
#doc #bd .sidebar {
	padding-left: 25px;
}
#doc #bd .sidebar .box {
	padding: 10px 20px 7px 20px;
	border: 1px solid #d7d7d7;
	background-color: #fff;
	margin-bottom: 25px;
}
#doc #bd .sidebar h3 {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}


/* * * * * * * * * * * * * * * * * * * * */
/*            Page Footer               */
/* * * * * * * * * * * * * * * * * * * * */
#doc #ft {
	padding: 25px 0;
}
