.aw-user .uauthreg h4 {
	margin-bottom: 10px;
	font-size: 1.3em;
}

/* * * * * Регистрация * * * * * */
.aw-user .uauthform {
	width: 400px;
}
.aw-user .uregform {
	width: 600px;
}
.aw-user .uauthform a.bpwd {
	margin-left: 10px;
}
.aw-user .ufields input.inp {
    border: 1px solid #ACAEB4;
    border-radius: 3px 3px 3px 3px;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    width: 400px;
}
.aw-user .uauthform .ufields input.inp {
    width: 200px;
}
.aw-user .ufields dl {
    clear: left;
    margin: 0 0 10px;
}
.aw-user .ufields dt {
	padding-top: 3px;
    color: #333333;
    float: left;
    font-weight: normal;
    padding-right: 15px;
    text-align: right;
    width: 160px;
}
.aw-user .ufields p {
    line-height: 28px;
    padding-bottom: 12px;
    text-align: justify;
}

.aw-user .uauthform dt {
	text-align: left;
}
.aw-user .ufields .agreement {
	text-align: center;
}
.aw-user .ufields .agreement label {
	margin-left: 5px;
}
.aw-user .uregform img {
	vertical-align: middle;
}
.aw-user .uregform .buttons {
	margin: 10px 0;
}
.aw-user .ufields .uregerr {
	color: red;
	margin-right: 10px;
}
.aw-user .ufields .autologin .rmlbl {
	margin-left: 5px;
}

/* * * * * * TermsOfUse * * * * * */
.aw-user .termsofuse .cont {
	overflow-y: scroll;
	width: 600px;
	height: 360px;
    border: 1px solid #ACAEB4;
    padding: 10px;
}
.aw-user .termsofuse .loadingform {
	padding: 200px 0;
	text-align: center;
}
.aw-user .termsofuse h3 {
    font-size: 1.7em;
}
.aw-user .termsofuse p {
    font-size: 1.1em;
    line-height: 1.7em;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: justify;
}
.aw-user .termsofuse .buttons {
	margin-top: 7px;
}
