[submodule "modules/widget"]
	path = modules/widget
	url = git@github.com:abricos/abricos-mod-widget.git
[submodule "modules/bos"]
	path = modules/bos
	url = git@github.com:abricos/abricos-mod-bos.git
[submodule "modules/notify"]
	path = modules/notify
	url = git@github.com:abricos/abricos-mod-notify.git
[submodule "modules/filemanager"]
	path = modules/filemanager
	url = git@github.com:abricos/abricos-mod-filemanager.git
[submodule "modules/sitemap"]
	path = modules/sitemap
	url = git@github.com:abricos/abricos-mod-sitemap.git
[submodule "modules/tinymce"]
	path = modules/tinymce
	url = git@github.com:abricos/abricos-mod-tinymce.git
[submodule "modules/uprofile"]
	path = modules/uprofile
	url = git@github.com:abricos/abricos-mod-uprofile.git
[submodule "install"]
	path = install
	url = git://github.com/abricos/abricos-install
