
.wk-tzlabel {
	color: #468;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	padding-bottom: 2px
}

.wk-moreevents {
	padding: 8px 8px 8px 8px
}

.wk-moreevents .st-c {
	padding: 1px 2px 0 2px;
	border: none
}

.wk-sideevents {
	width: 20%;
	font-family: Verdana, sans-serif;
	vertical-align: top;
	padding-top: 1px
}

.wk-more-prealign {
	text-align: right
}

.wk-disclose {
	position: absolute;
	top: 2em
}

.wk-promo {
	overflow: hidden;
	width: 100%;
	white-space: normal
}

.mv-container {
	height: 100%;
	position: relative;
	white-space: nowrap
}

.st-contents,.mv-container {
	font-size: 11px;
	line-height: 14px
}

.mv-daynames-table {
	position: absolute;
	table-layout: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #c3d9ff;
	color: #20c
}

.mv-dayname {
	font-weight: normal
}

.mv-promo {
	overflow: hidden;
	padding-top: 14px;
	width: 100%;
	top: 14px;
	white-space: normal;
	zoom: 1
}

.mv-event-container {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	top: 14px;
	bottom: 0;
	background: white
}

.month-row {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden
}

a img {
	border-width: 0
}

a:link,a:visited {
	color: #20c
}

a:hover {
	color: #c00
}
.reset {
	clear: both;
	height: 1px;
	margin: 0;
	font-size: 1px;
	line-height: 1px
}

.gridcontainer {
	height: 300px;
	background: #e8eef7;
	position: relative;
	-webkit-user-select: none;
	-khtml-user-select: none;
}

.t1 {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 2px;
	overflow: hidden
}

.t2 {
	font-size: 1px;
	height: 1px;
	line-height: 1px;
	margin: 0 1px;
	overflow: hidden
}

.modelinkOn {
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #000;
	background: #c3d9ff;
	font-weight: bold;
	padding: 4px 5px 3px
}

.modelinkOff {
	cursor: pointer;
	font-size: 13px;
	font-family: Arial, sans-serif;
	color: #20c;
	background: #e8eef7;
	font-weight: normal;
	padding: 4px 5px 3px 5px
}


.chip {
	position: absolute;
	overflow: hidden;
	cursor: default;
	color: #fff;
	-moz-user-select: none;
}

.chip dl {
	margin: 0;
	padding-bottom: 1px;
	border-left: 1px solid;
	border-right: 1px solid;
	overflow: hidden
}

.chip dt {
	margin-top: -1px;
	font: bold 80%/ normal Verdana, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	padding-left: 1px;
	text-align: left;
}

.ie6 .chip dl {
	zoom: 1
}

.ie6 .chip dt {
	width: 100%;
	margin-right: -1px
}

.chip dd {
	margin: 0;
	overflow: hidden;
	padding: 0 1px;
	font: 100%/ 1.3em Verdana, sans-serif;
	text-align: left;
	word-wrap: break-word
}

.cbrd {
	border: 1px solid;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

.cbrd dt {
	margin-top: 0
}

.ct {
	height: 0;
	overflow: hidden;
	border-style: solid dotted;
	border-width: 0 2px 2px;
	border-color: transparent
}

.cb1,.cb2 {
	border-style: solid;
	overflow: hidden;
}

.cb1 {
	height: 1px;
	margin: 0 1px;
	border-width: 0 1px
}

.cb2 {
	height: 0;
	margin: 0 2px;
	border-width: 0 0 1px
}

.cro dl {
	padding-left: 1px;
}

.cro dt {
	margin-top: 1px;
}

.chip a:link,.chip a:visited,.chip a:active {
	text-decoration: none;
	color: #fff
}

.cic {
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 2px;
	width: 9px;
	height: 7px;
	line-height: 7px;
	background-image: url(/modules/calendar/images/calendar.gif)
}

.ff2 .cic {
	display: -moz-inline-box;
	vertical-align: bottom;
	position: relative;
	top: -2px
}

.cic-ques {
	margin-left: 0;
	margin-right: 2px;
	width: 9px;
	height: 9px;
	line-height: 9px;
	background-position: -56px -50px
}

.cic-prsn {
	background-position: -28px -50px
}

.cic-noprs {
	background-position: -46px -50px
}

.cic-tmr {
	background-position: -28px -57px
}

.cic-rcr {
	background-position: -37px -50px
}

.cic-spcl {
	background-position: -37px -57px
}

.cic-priv {
	background-position: -11px -64px
}

.chip .location {
	display: block;
	font-style: normal
}

.resizer {
	position: absolute;
	height: 7px;
	line-height: 7px;
	width: 100%;
	bottom: 0;
	cursor: ns-resize; *
	cursor: s-resize;
}

.rszr_icon {
	border-top: 3px double white;
	font-size: 0;
	line-height: 0;
	height: 0;
	width: 10px;
	margin-left: auto;
	margin-right: auto
}

.cwci {
	height: 16px;
	width: 16px;
	margin: -1px 0;
	vertical-align: top
}

.wc-root {
	border: 0 none;
	width: 100%;
	height: 100%
}

.view-tab {
	vertical-align: bottom;
	padding-left: 4px
}

.view-tab-unselected {
	background-color: #e8eef7;
	color: #20c;
	cursor: pointer
}

.view-tab-selected {
	background-color: #c3d9ff;
	font-weight: bold
}

.tab-name {
	padding: 4px 5px 3px;
	white-space: nowrap
}

.tab-spacer {
	width: 3px;
	cursor: default
}

.link-tab-selected,.link-tab-unselected {
	cursor: pointer;
	padding: 0 3px
}

.link-tab-selected {
	color: #000;
	font-weight: bold
}

.link-tab-unselected {
	font-weight: normal;
	color: #20c;
	text-decoration: underline
}

.link-tab-unselected:hover {
	color: #cc0000
}

.te {
	padding: 1px;
	overflow: hidden;
	white-space: nowrap;
	zoom: 1
}

.te-t {
	font-size: 91%;
	font-family: Arial, sans-serif;
	font-weight: bold;
	white-space: nowrap;
	line-height: 1.2;
	vertical-align: bottom
}

.te-rev {
	width: 100%
}

.te-rev-s {
	width: 100%;
	white-space: nowrap;
	vertical-align: bottom
}

.te-rev-spos {
	position: relative;
	zoom: 1;
}

.te-rev-scont {
	text-align: left;
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	overflow: hidden
}

.st-bg-table {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	table-layout: fixed
}

.st-bg {
	border-left: 1px solid #c3d9ff
}

.st-bg-today {
	background-color: #ffc
}

.bg-exists .st-bg-today {
	background-color: #eee;
	border: 1px solid #579;
	opacity: 0.8;
}

.st-grid {
	position: relative;
	table-layout: fixed;
	width: 100%
}

.st-c {
	padding: 1px 1px 0 2px;
	vertical-align: top;
	font-family: Verdana, sans-serif;
	cursor: pointer
}

.st-s {
	padding-bottom: 2px;
	cursor: default;
}

.st-dtitle {
	border-left: 1px solid #c3d9ff;
	border-top: 1px solid #c3d9ff;
	background-color: #e8eef7;
	color: #444;
	padding-right: 2px;
	text-align: right;
	line-height: 16px;
	overflow: hidden
}

.bg-exists .st-dtitle {
	opacity: 0.8;
	filter: alpha(opacity = 80)
}

.st-dtitle-nonmonth {
	background-color: #eee;
	color: #888
}

.st-dtitle-today {
	background-color: #bcd
}

.st-wc {
	vertical-align: bottom;
	float: left;
	height: 16px;
	width: 16px;
	padding: 0
}

.st-wc-click {
	cursor: pointer
}

.st-c .te {
	cursor: pointer
}

.bg-exists .te {
	background-color: white;
	padding-left: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px
}

.st-ad-ml,.st-ad-mr {
	position: relative;
	top: 2px;
	margin-bottom: -8px;
	height: 0;
	width: 0;
	line-height: 0;
	font-size: 0;
	border-top: 4px dotted transparent;
	border-bottom: 4px dotted transparent
}

.st-ad-mpad {
	padding-left: 10px
}

.st-ad-ml {
	border-right: 4px solid white;
	margin-left: -7px;
	margin-right: auto
}

.st-ad-mr {
	border-left: 4px solid white;
	margin-left: auto;
	margin-right: 3px
}

.st-more {
	color: #20c;
	text-align: center;
	cursor: pointer;
	font-family: Arial, sans-serif
}

.st-moreul {
	text-decoration: underline
}

.st-moreicon {
	background-color: #d0d6de;
	color: #627487;
	margin: 1px;
	padding-right: 5px;
	text-align: right;
	font-size: 85%
}

.wk-table {
	margin: 0;
	padding: 0
}

.wk-weektop {
	table-layout: fixed;
	width: 100%;
	background-color: #c3d9ff;
	overflow: hidden;
	font-size: 11px;
	line-height: 14px
}

.wk-dayname {
	font-weight: normal;
	color: #20c;
	padding: 2px 4px;
	white-space: nowrap
	/*
	margin-left: 3px;
	/**/
}

.wk-today {
	color: #fff;
	font-weight: bold;
	background-color: #8ac;
	/*
	padding: 1px 3px;
	border-top: 1px solid #6786a7;
	border-left: 1px solid #6786a7;
	border-bottom: 1px solid #ace;
	border-right: 1px solid #ace
	/**/
}

.wk-dummyth {
	vertical-align: top;
	background-color: #c3d9ff;
	padding: 0
}

.wk-allday {
	background-color: #e8eef7;
	font-size: 11px;
	line-height: 14px;
	border-color: #a2bbdd #fff #fff #a2bbdd;
	border-style: solid;
	border-width: 1px
}

.wk-allday .st-c {
	padding-left: 0;
	padding-right: 0;
	border-left: 3px double #ddd
}

.wk-webcontent-td {
	font-size: 0;
	padding-left: 2px;
	height: 5px
}

.wk-scrolltimedevents {
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	border-top: 1px solid #a2bbdd;
	border-left: 1px solid #a2bbdd;
	border-bottom: 1px solid #fff;
	padding: 0;
	font-size: 11px;
	line-height: normal
}

.tg-timedevents {
	background-color: #fff;
	table-layout: fixed;
	width: 100%;
	margin-top: -1px
}

.bg-exists .tg-timedevents {
	background: transparent
}

.bg-exists .tg-times-pri,.bg-exists .tg-times-sec,.bg-exists .chip {
	opacity: 0.9;
	filter: alpha(opacity = 90)
}

.tg-times-pri,.tg-times-sec {
	padding: 0;
	background-color: #e8eef7;
	color: #468;
	text-align: right;
	vertical-align: top;
	padding-right: 1px;
	padding-top: 1px
}

.tg-times-sec {
	background-color: #e8eef7;
	color: #468
}

.tg-time-pri,.tg-time-sec {
	border-bottom: 1px solid #ddd;
	padding-right: 2px
}

.tg-time-sec {
	border-bottom: 1px solid #ddd
}

.tg-timesnotlast {
	border-right: 1px solid #ddd
}

.tg-col {
	border-left: 3px double #ddd;
	vertical-align: top
}

.tg-col-overlaywrapper {
	position: relative;
	height: 0
}

.tg-gutter {
	position: relative;
	margin-right: 10px
}

.tg-col-eventwrapper {
	position: relative;
	cursor: default;
}

.tg-today {
	background-color: #ffc;
}

.bg-exists .tg-today {
	background-color: #eee;
	opacity: 0.5;
	filter: alpha(opacity = 50)
}

.tg-spanningwrapper {
	position: relative;
	margin-left: 3px;
	top: 1px;
}

.tg-chipspanningwrapper {
	margin-right: 10px;
	z-index: 1
}

.tg-hourmarkers {
	position: absolute;
	width: 100%
}

.tg-dualmarker {
	border-top: 1px solid #ddd;
	height: 1em;
	line-height: 1em;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 1em
}

.tg-nowmarker {
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 0;
	border-top: 2px solid #ff0000;
	overflow: hidden;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

.tg-nowptr {
	position: absolute;
	background-position: -60px -68px;
	width: 5px;
	height: 9px;
	background-image: url(/modules/calendar/images/calendar.gif)
}
