/*
* { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }
/**/

body, html {
	font-size:12px;
	background-color:#FFFFFF;
	font-family:Verdana,sans-serif,Arial,FreeSans;
	margin:0;
	padding:0;
}

table, tr, td, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6	{
	text-align: left;
}
#background {
	text-align: left;
	origin:padding;
	background:transparent url(../images/bg.jpg) no-repeat scroll center top;
	top: 0; 
	left: 0;
	min-height:400px;
	min-width:500px;
	position:absolute;
	width:100%;	
	height:100%;
	overflow:hidden;
}

#workspace {
	width:100%;	
	height:100%;
	z-index:10;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30px;
}

.minimizedApps {
	bottom:0;
	color:#000000;
	font-size:11px;
	left:0;
	position:absolute;
	right:0px;
	z-index:10000;
}

.minimizedAppsRight {
	background:transparent url(../images/minapp.png) repeat-x scroll 0 0;
	bottom:0;
	height:31px;
	left:0;
	position:absolute;
	right:0;
	z-index:9999;
}

.minimizedAppsIn {
	display:inline-block;
	height:29px;
	overflow:hidden;
	position:relative;
	white-space:nowrap;
}

.eyeWindowOnBar_On {
	background:transparent url(../images/minappinfo.png) no-repeat scroll center top;
}

#powered {
	font-size:11px;
	bottom: 10px;
	right: 15px;
	display: block;
	height: auto;
	line-height: 2;
	position: absolute;
	text-align: center;
	width: auto;
	z-index: 100;
}

.desktop-label {
	font-size:11px;
	cursor:pointer;
	color:#000; 
	text-align:center; 
	position: absolute; 
	width:80px; 
	height:80px;
}
.desktop-label img {
	width:50px; 
	height:50px;
}
.desktop-label span {
	display: block;
}



