/* * * * * * Message Preview * * * * * */
.scb-msg-preview { }
.scb-msg-preview .body {
	background: #FFFFFF;
	padding: 3px 3px 3px 5px;
	margin: 1px;
	border: 1px solid #C7C7C7;
}

.scb-editor { }
.scb-editor tr {
	vertical-align:top;
}
.scb-editor textarea {
	margin: 3px 5px 3px 0px;
}

.scb-editor .attach {
	margin: 3px 0px 3px 0px;
}
.scb-editor .attach .files { 
	background: #FFFFFF;
	/* padding: 3px 3px 3px 5px;/**/
	margin: 3px 0px 3px 0px;
	border: 1px solid #C7C7C7;
	width: 200px;
	height: 200px;
}

.scb-editor .attach .right { 
	text-align: right;
}

.scb-editor .attach table {
	width: 100%;
	padding: 5px 3px; 
}
.scb-editor .attach td {
	padding: 0.1em 0.5em 0.1em 0.5em; 
}
.scb-editor .attach th {
	background: #D7D7D7 none repeat scroll 0 0;
	padding: 0.1em 0.5em; 
}