.aw-jofolio .projlist .addbtn {
	text-align: right;
}

.aw-jofolio .projlist .pfrow {
	cursor: pointer;
	float: left;
}
.aw-jofolio .projlist .pfrow .btn {
	text-align: center;
}

.aw-jofolio .projlist .pfrow .btn a {
	margin-right: 10px;
}

.aw-jofolio .projlist .jprojed {
	margin-bottom: 10px;
}

.aw-jofolio .pfview .pimg {
	min-width: 640px;
	min-height: 480px;
	vertical-align: middle;
	text-align: center;
	border-bottom: 1px solid #E3E3D7;
}
.aw-jofolio .pfview .ptl {
	font-size: 1.2em;
}

