<!--[*]
[var=meta_title][/var][var=meta_keys][/var][var=meta_desc][/var]
[ph=sys:meta_title][/ph][ph=sys:meta_keys][/ph][ph=sys:meta_desc][/ph]
[ph=sys:site_name]Site Name[/ph]
[ph=sys:site_title]Brief description of your site[/ph]

[ph=sys:phone][/ph]
[ph=sys:counter][/ph]

[bkvar=ttowner]default[/bkvar]
[bkvar=js][/bkvar]
[bkvar=css][/bkvar]

[mod=sys]jsvar[/mod]
[mod=rss]meta[/mod]

[var=version][/var]
[var=jsyui][/var]

[mod=sitemap]hmenu,vmenuaccord,breadcrumb[/mod]
[mod=news]newsblock[/mod]
[mod=user]usermenubutton[/mod]

[mcss=sys]widget.css[/mcss] // Будет удалет. Оставлен для совместимости

[*]--><!DOCTYPE html>
<html lang="ru" class="yui3-loading">
<head>
    <title>[var]meta_title[/var]</title>
    <meta name="keywords" content="[var]meta_keys[/var]">
    <meta name="description" content="[var]meta_desc[/var]">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    [mod]sys:jsvar[/mod]

    <link href="/vendor/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/tt/[bkvar]ttowner[/bkvar]/css/main.css?v=0.1.0" type="text/css" rel="stylesheet"/>

    <script src="/gzip.php?base=/vendor&v=[var]version[/var]&file=jquery/jquery.min.js,bootstrap/js/bootstrap.min.js"></script>

    [bkvar]css[/bkvar]

    [bkvar]js[/bkvar]

    <link rel="stylesheet" href="/tt/[bkvar]ttowner[/bkvar]/css/override.css?v=0.1.0" type="text/css"/>

    [mod]rss:meta[/mod]

    [ph]sys:counter[/ph]
</head>
<body>
<div id="doc">

    <header>
        <div class="container">
            <div class="row headmenublock">
                <div class="col-md-6">
                    <div class="navbar" role="navigation">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/about/" title="О нас">
                                    <i class="fa fa-university"></i> О нас
                                </a>
                            </li>
                            <li>
                                <a href="/sitemap/" title="Карта сайта">
                                    <i class="fa fa-sitemap"></i> Карта сайта
                                </a>
                            </li>
                            <li>
                                <a href="/contacts/" title="Контакты">
                                    <i class="fa fa-envelope"></i> Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="navbar" role="navigation">
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                [mod]user:usermenubutton[/mod]
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 logo">
                    <a href="/">
                        <img src="/tt/[bkvar]ttowner[/bkvar]/i/logo.png?v=0.1"
                             title="[ph]sys:site_name[/ph]"
                             alt="[ph]sys:site_name[/ph]">
                    </a>
                </div>
                <div class="col-md-6">
                    <h1 class="site-name">
                        <a href="/">[ph]sys:site_name[/ph]</a>
                    </h1>

                    <div class="site-desc">
                        [ph]sys:site_title[/ph]
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="callinfo">
                        <span class="ph">[ph]sys:phone[/ph]</span>
                    </div>
                </div>

            </div>

            <div class="menu-horizontal navbar navbar-default" role="navigation">
                [mod]sitemap:hmenu[/mod]
            </div>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-9">
                    [mod]sitemap:breadcrumb[/mod]
                    [tt]content[/tt]
                </div>
                <div class="col-md-3">
                    <div class="sidebar">
                        <div class="sidebaritem">
                            [mod]news:newsblock[/mod]
                        </div>
                        <div class="sidebaritem">
                            [mod]sitemap:vmenuaccord[/mod]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <hr>
            <div class="well">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <h4>О нас</h4>
                        <ul>
                            <li><a href="/contacts/">Контакты</a></li>
                            <li><a href="/about/">О нас</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            © <a href="/" title="[ph]sys:site_name[/ph]">[ph]sys:site_name[/ph]</a> - все
                            права
                            защищены
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <p class="powered">
                            Powered by <a href="http://abricos.org"
                                          title="Abricos - Content Management System (CMS), Web Application Platform (WebOS)">Abricos</a>
                            [var]version[/var]
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>