/*
* { outline: 2px dotted red; }
* * { outline: 2px dotted green; }
* * * { outline: 2px dotted orange; }
* * * * { outline: 2px dotted blue; }
* * * * * { outline: 1px solid red; }
* * * * * * { outline: 1px solid green; }
* * * * * * * { outline: 1px solid orange; }
* * * * * * * * { outline: 1px solid blue; }
/**/

html {
	background: #fff url(../images/bg_top.gif) repeat-x scroll 0 0;
}

body {
	font-size: 82%;
	color: #333;
}
table, tr, td, div, ul, ol, li, p, h1, h2, h3, h4, h5, h6	{
	text-align: left;
}
#hd .logo {
	color: #090;
	margin: 30px 0 10px 10px; *
	margin: 15px 0 5px 5px;
	padding: 0 0 0 20px;
	font-size: 200%;
}
#hd .logo .tl {
	font-weight: bold;
}
#hd .logo .desc {
	color: #999;
	font-size: 50%;
	margin: 0;
	padding: 0;
}

#ft {
	background: #333 none repeat scroll 0 0;
	color: #fff;
}

#ft p {
	font-size: 90%;
	text-align: center;
	padding: 0.6em;
}

#content {
	font-family: Verdana, Tahoma, Arial;
	font-weight: normal;
	line-height: 1.6;
}


div.out {
	border: 1px solid #EEF1F2;
	padding: 0;
	margin: 0 0 10px 0;
	overflow: hidden;
}

div.in {
	background: #fff url(../images/bg.gif) repeat-x;
	margin: 1px; *
	margin-left: 0.09em; /*IE fix*/
	padding: 4px 10px;
	overflow: hidden;
}


h1, h2 {
	font-weight: bold;
	color: #333;
	font-size: 120%;
	padding-bottom: 0.4em;
}

h3,h4,h5 {
	font-weight: bold;
	color: #333;
	padding-bottom: 0.4em;
}

h3 {
	font-size: 110%;
}

h4,h5 {
	font-size: 100%;
}

a,a:link {
	color: #6a7398;
}

a:hover {
	color: #f00;
}

a:active,a:visited {
	color: #6a7398;
}

p {
	padding-bottom: .5em;
}

.body ul, .body ol {
	margin:1.5em 1em 1.5em 3em;
	padding:0;
}

.body ol li, .body ol li {
		list-style-type: decimal;
}

.body li {
	list-style-type: disc;
}

.body i, .body em{
	font-style:italic;
}

.body b, .body strong {
	font-weight:bolder;
}

/**
 * User
 */
#mod-user-userblock {
	position: absolute; 
	right: 15px; 
	top: 5px;
}


