.yui3-loading .mod-sitemap .vmenu .yui3-menu .yui3-menu {
	visibility: hidden;
}

/* Vertical menus and submenus */

.mod-sitemap .vmenu .yui3-menu-content, 
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-content {

    font-size: 93%;  /* 12px */
    line-height: 1.5;  /* 18px */
    *line-height: 1.45; /* For IE */
    border: solid 1px #808080;
    
    background: #fff;
    padding: 3px 0;
}

.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-content {
	font-size: 100%;
}

.mod-sitemap .vmenu .yui3-menu ul.first-of-type {
    border: 0;
	margin: 0;
	padding: 0;    
}

.mod-sitemap .vmenu .yui3-menu li,
.mod-sitemap .vmenu .yui3-menu .yui3-menu li {

    /*
        For and IE 6 (Strict Mode and Quirks Mode) and IE 7 (Quirks Mode only): 
		Used to collapse superfluous white space between <li> elements that is 
		triggered by the "display" property of the <a> elements being set to 
		"block" by node-menunav-core.css file.
    */

    _border-bottom: solid 1px #fff;

}

.mod-sitemap .vmenu .yui3-menubuttonnav li {

    border-right: solid 1px #ccc;

}

.mod-sitemap .vmenu .yui3-splitbuttonnav li {

    border-right: solid 1px #808080;

}

.mod-sitemap .vmenu .yui3-menubuttonnav li li,
.mod-sitemap .vmenu .yui3-splitbuttonnav li li {

	border-right: 0;

}


/* Menuitems and menu labels */


.mod-sitemap .vmenu .yui3-menu-label,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-label,
.mod-sitemap .vmenu .yui3-menuitem-content,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menuitem-content {

    /*padding: 0 20px;*/
    padding: 0 5px 0 20px;
    color: #525252;
    text-decoration: none;
    /* cursor: default; /**/

	/*
		Necessary specify values for border, position and margin to override 
		values specified in the selectors that follow. 
	*/

	float: none;
	border: 0;
	margin: 0;

}

.mod-sitemap .vmenu .yui3-menu-label,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-label {

	background: url(/js/yui/build/node-menunav/assets/skins/sam/vertical-menu-submenu-indicator.png) right center no-repeat;

}

.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menu-label,
.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label {

	background-image: none;

}

.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menu-label {

    padding-right: 0;

}

.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menu-label em {

	font-style: normal;
	padding-right: 20px;
    display: block;
    background: url(/js/yui/build/node-menunav/assets/skins/sam/horizontal-menu-submenu-indicator.png) right center no-repeat;

}


.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label {

	padding: 0;

}

.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label a {

	float: left;
	width: auto;
    color: #525252;
    text-decoration: none;
	padding: 0 5px 0 10px;

}

.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle {
	
	padding: 0;	/* Overide padding applied by the preceeding rule. */
	border-left: solid 1px #ccc; 
	width: 15px;
	overflow: hidden;
	text-indent: -1000px;
    background: url(/js/yui/build/node-menunav/assets/skins/sam/horizontal-menu-submenu-indicator.png) 3px center no-repeat;	
	
}


/* Selected menuitem */

.mod-sitemap .vmenu .yui3-menu-label-active,
.mod-sitemap .vmenu .yui3-menu-label-menuvisible,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-label-active,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {

	background-color: #B3D4FF;

}

.mod-sitemap .vmenu .yui3-menuitem-active .yui3-menuitem-content,
.mod-sitemap .vmenu .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content {

	background-image: none;
    background-color: #FFD470;
    
    /*
    	Undo values set for "border-left-width" and "margin-left" when the root 
    	menu has a class of "yui-menubuttonnav" or "yui-splitbuttonnav" applied.
    */

	border-left-width: 0;
    margin-left: 0;

}

.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menu-label-active,
.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menuitem-active .yui3-menuitem-content,
.mod-sitemap .vmenu .yui3-menubuttonnav .yui3-menu-label-menuvisible,
.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label-active,
.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menuitem-active .yui3-menuitem-content,
.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label-menuvisible {

    border-left-width: 1px;
    margin-left: -1px;

}

.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label-menuvisible {

    border-color: #808080;
    background: transparent;

}

.mod-sitemap .vmenu .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle {

    border-color: #7D98B8;
    background: url(/js/yui/build/node-menunav/assets/skins/sam/horizontal-menu-submenu-toggle.png) left center no-repeat;

}