/* css style */ 
#bk_sitemap{
font-family: Verdana;
font-size: 95%;
text-align: left;
}
.relative	{
position: relative;
}
.handle {
cursor:move;
margin: 0 4px;
vertical-align:bottom;
/*display:none;*/
}
.bk_sitemap-root .bk_sitemap-level-0 .bk_sitemap-page,
.bk_sitemap .bk_sitemap-level-1 .bk_sitemap-page,
.bk_sitemap .bk_sitemap-level-2 .bk_sitemap-page {
  font-size: 120%;
  font-weight: bold;
}
.bk_sitemap .bk_sitemap-level-1 .bk_sitemap-page { margin-left: 10px; }
.bk_sitemap .bk_sitemap-level-2 .bk_sitemap-page { font-size: 115%; margin-left: 40px; }
.bk_sitemap .bk_sitemap-level-3 .bk_sitemap-page { font-size: 110%; margin-left: 70px; }
.bk_sitemap .bk_sitemap-level-4 .bk_sitemap-page { font-size: 105%; margin-left: 100px; }
.bk_sitemap .bk_sitemap-level-5 .bk_sitemap-page { margin-left: 130px; }
.bk_sitemap .bk_sitemap-level-6 .bk_sitemap-page { margin-left: 160px; }
.bk_sitemap .bk_sitemap-level-7 .bk_sitemap-page { margin-left: 190px; }
.bk_sitemap-root .bk_sitemap-page a,
.bk_sitemap .bk_sitemap-page a {
  text-decoration: none;
}
.bk_sitemap-root .bk_sitemap-page a .bk_sitemap-title,
.bk_sitemap .bk_sitemap-page a .bk_sitemap-title,
.bk_sitemap .bk_sitemap-page a:visited .bk_sitemap-title {
  color: #000;
  text-decoration: none;
}
.bk_sitemap .bk_sitemap-page .bk_sitemap-title .bk_sitemap-protected {
  color: #9eb3bf;
}
.bk_sitemap-root .bk_sitemap-page a:hover .bk_sitemap-title,
.bk_sitemap .bk_sitemap-page a:hover .bk_sitemap-title, 
.bk_sitemap .bk_sitemap-page a:visited:hover .bk_sitemap-title {
  text-decoration: underline;
}
.bk_sitemap .bk_sitemap-page .bk_sitemap-info {
  color: #9eb3bf;
  font-style: italic;
  font-weight: normal;
  font-size: 70%;
  padding: 0 1em;
}
.bk_sitemap .no-children .w1 { padding-left: 23px; }
.bk_sitemap .children-visible .bk_sitemap-page	{padding-bottom: 2px;}
.bk_sitemap-root .bk_sitemap-page .bk_sitemap-title,
.bk_sitemap .bk_sitemap-page .bk_sitemap-title,
.bk_sitemap .bk_sitemap-page .bk_sitemap-info {
  position: relative;
  top: 1px;
}
.bk_sitemap .bk_sitemap-page img.bk_sitemap-expander {
  vertical-align: middle;
  height:11px;
  width:11px;
  padding: 0 6px;
}
.bk_sitemap-def { margin-top: 20px; position: relative; }
.bk_sitemap-def .bk_sitemap-page {}
.bk_sitemap-def .bk_sitemap-status { position: absolute; top: 0; right: 125px; width: 110px }
.bk_sitemap-def .bk_sitemap-modify { position: absolute; top: 0; right: 5px; width: 120px; }
.bk_sitemap-def div {
  padding: 2px 4px;
  font-size: 90%;
  font-weight: normal;
  background-color: #f5f5f5;
}
.bk_sitemap-root {
  font-size: 90%;
}
.bk_sitemap {
  border-bottom: 1px solid #ddd;
  font-size: 90%;
  position: relative;
}
.bk_sitemap-root li,
.bk_sitemap li {
  padding: 2px 0;
  position: relative;
  border-top: 1px solid #ddd;
}
li.bk_sitemap-level-1 .no-children,
li.bk_sitemap-level-2 .no-children,
li.bk_sitemap-level-3 .no-children,
li.bk_sitemap-level-4 .no-children,
li.bk_sitemap-level-5 .no-children	{
   padding-bottom: 0;
   *padding-bottom: 1px; /*IE bug*/
}

.bk_sitemap-root li:hover,
.bk_sitemap-root li.hover,
.bk_sitemap li:hover,
.bk_sitemap li.hover {
  background: #f5f5f5;
}
.bk_sitemap ul { list-style: none; margin:0; padding:0; background: #fff; }
.bk_sitemap .bk_sitemap-page, .bk_sitemap-root .bk_sitemap-page {}
.bk_sitemap .bk_sitemap-status, .bk_sitemap-root .bk_sitemap-status { position: absolute; top: 5px; right: 129px; width: 110px; font-size: 10px}
.bk_sitemap .bk_sitemap-modify, .bk_sitemap-root .bk_sitemap-modify { position: absolute; top: 3px; right: 9px; width: 120px }
.bk_sitemap .bk_sitemap-modify img, .bk_sitemap-root .bk_sitemap-modify img{vertical-align:middle;}
.bk_sitemap .bk_sitemap-modify img, .bk_sitemap-root .bk_sitemap-modify img{margin-right:6px;}
.bk_sitemap .bk_sitemap-status { color: #9eb3bf;}
.bk_sitemap .bk_sitemap-status.bk_sitemap-draft-status { color: #0c0;}
.bk_sitemap .bk_sitemap-status.bk_sitemap-published-status { color: #000;}
.bk_sitemap .bk_sitemap-status.bk_sitemap-hidden-status { color: #9eb3bf;}
.bk_sitemap-icon		{
vertical-align: middle;
margin-right: 4px;
}
.bk_sitemap-left-root		{
padding-left: 4px;
}
.img_link {cursor: pointer}