.mod-blog .title { 
	color:#767676;
	font-family:normal Verdana,Tahoma,sans-serif;
	font-size:140%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:118%;
	margin-bottom:0;
}
.mod-blog .title .category {
	color:#6A7398;
}

.mod-blog .title .subject {
	color:#999999;
}

.mod-blog .delim {
	padding-bottom:30px;
} 

.mod-blog ul.tags {
	background: #fff url(../images/tag.gif) no-repeat scroll 0 50%;
	margin: 10px 0 0 0;
	clear: both;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0.2em 0 0.1em 20px;
	margin-top: 10px;
	display: block;
}

.mod-blog .tags li {
	display: inline;
	font-size: 0.83em;
}
.mod-blog .tags li a:link,
.mod-blog .tags li a:visited {
	color: #666;
}

.mod-blog div.info {
	border: 1px solid #e5e5e5;
	clear: both;
	font-family: Arial, sans-serif;
	font-size: 0.75em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 2em;
	margin-top: 2.22em;
	padding: 0;
	width: 100%;
}

.mod-blog div.info .date {
	margin: 0 20px 0 10px;
}

.mod-blog div.info a,
.mod-blog div.info a:visited {
	background: #fff url(../images/icon-user.gif) no-repeat scroll 0 50%;
	color: #c00;
	padding: 2px 2em 3px 21px;
}

.mod-blog div.info a.blog-comments {
	background: #fff url(../images/balloon-left.gif) no-repeat scroll 0 50%;
	color: #c00;
	padding: 2px 0 3px 21px;
	cursor: pointer;
}
 
.mod-blog-tags a {
	margin-right: 1em;
	text-decoration: none;
}
.mod-blog-tags .t75  {font-size: 75%;}
.mod-blog-tags .t80  {font-size: 80%;}
.mod-blog-tags .t85  {font-size: 85%;}
.mod-blog-tags .t90  {font-size: 90%;}
.mod-blog-tags .t95  {font-size: 95%;}
.mod-blog-tags .t100 {font-size: 100%;}
.mod-blog-tags .t105 {font-size: 105%;}
.mod-blog-tags .t110 {font-size: 110%;}
.mod-blog-tags .t115 {font-size: 115%;}
.mod-blog-tags .t120 {font-size: 120%;}
.mod-blog-tags .t125 {font-size: 125%;}
.mod-blog-tags .t130 {font-size: 130%;}
.mod-blog-tags .t135 {font-size: 135%;}
.mod-blog-tags .t140 {font-size: 140%;}
.mod-blog-tags .t145 {font-size: 145%;}
.mod-blog-tags .t150 {font-size: 150%;}

.mod-blog-commentlive {
	color:#6A7398;
}
.mod-blog-commentlive li {
	list-style-type:none;
	padding-bottom:0.6em;
}
.mod-blog-commentlive a {
	margin-right:0.5em;
	text-decoration:none;
}
.mod-blog-commentlive .url {
	color:#6A7398;
	font-size:0.92em;
	font-weight:bold;
	margin-right:0.4em;
}
.mod-blog-commentlive .topic {
	color:#999999;
}

