body {
    font-size: 14px;
}

/* * * HEADER * * */
#doc {
    color: #575757;
}
a, a:visited {
    color: #295f9f;
}

#doc .gwrap {
    width: 970px;
    margin: 0 auto;
}

#doc #hd {
    background-color: #1b1e1f;
}
#doc #hd .gwrap {
    position: relative;
}

#doc #hd a {
    color: #bebebe;
}
#doc #hd .tline {
    background-color: #23282b;
    border-bottom: 1px solid #2f3538;
}
#doc #hd .site-name {
    padding: 7px 0 10px;
    margin: 0;
    font-size: 25px;
    font-weight: normal;
}
#doc #hd .site-name a {
    color: #FFFFFF;
    text-decoration: none;	
}
#doc #hd .site-desc {
    padding-top: 15px;
    color: #858585;
}

#doc #hd #userauthblock {
    position: absolute;
    top: 13px;
    right: 0;
}

#userblock .autuser #appbosuilist {
    z-index: 1000;
}
#userblock .autuser #appbosuilist a {
    /* color: #295f9f;/**/
}

/* * * BODY CONTENT * * */

#doc #bd {
    padding: 25px 0;
    background-color: #F2F2F2;
    border-bottom: 1px solid #d7d7d7;
}
#doc #bd .content {
    border: 1px solid #d7d7d7;
    background-color: #fff;
    padding: 20px 30px;
}


/* * * * * * * * * * * * * * * * * * * * */
/*               SideBar                 */
/* * * * * * * * * * * * * * * * * * * * */
#doc #bd .sidebar {
    padding-left: 25px;
}
#doc #bd .sidebar .box {
    padding: 10px 20px 7px 20px;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    margin-bottom: 25px;
}


/* * * * * * * * * * * * * * * * * * * * */
/*            Page Footer               */
/* * * * * * * * * * * * * * * * * * * * */
#doc #ft {
    padding: 25px 0;
}
